# version defines the version of the config.yml configuration format. Currently the only option is 1.
version: 1

# module_version defines the version of the module to publish.
module_version:  0.0.27

terraform:
  after_plan:
    - terraform show -json spacelift.plan | jq -c '.configuration' > configuration.custom.spacelift.json